# Fuel Economy Testing
Exploration and analysis of Fuel Economy data obtained from vehicle testing done by EPA (Environmental Protection Agency) at National Vehicle and Fuel Emissions laboratory in Ann Arbor, Michigan.

Data for years 2008 and 2018 was chosen to explore changes in car emissions and fuel economy over a decade.

Source: [EPA Fuel Economy Data](https://www.fueleconomy.gov/feg/download.shtml)

## 1) Assessing 
General exploration of datasets for number of samples, missing values, duplicate rows, etc. 

Files: `all_alpha_18.csv`, `all_alpha_08.csv`

In [ ]:
# import and load dataset
import pandas as pd

df_18 = pd.read_csv('all_alpha_18.csv')
df_08 = pd.read_csv('all_alpha_08.csv')

In [ ]:
# Number of samples / columns in each dataset
print("2018 samples and columns: {}".format(df_18.shape))
print("2008 samples and columns: {}".format(df_08.shape))

In [ ]:
# Columns and datatypes info
df_18.info()
df_08.info()

### Missing Values

In [ ]:
# Columns with missing values
missing_18 = df_18.columns[df_18.isnull().any()]
print('Columns with missing values in 2018 data: {}'.format(missing_18))

# Rows with null values in each column
df_18.isnull().sum()

In [ ]:
# Columns with missing values
missing_08 = df_08.columns[df_08.isnull().any()]
print('Columns with missing values in 2008 data: {}'.format(missing_08))

# Rows with null values in each column
df_08.isnull().sum()

The 2008 dataset has more missing values for multiple columns versus 2018 dataset which is missing values only in `Displ` and `Cyl` columns.

### Duplicate Rows

In [ ]:
# Duplicate rows in dataset
duplicate_18 = df_18[df_18.duplicated(keep=False)]
duplicate_08 = df_08[df_08.duplicated(keep=False)]

# Uncomment to explore duplicate rows
#print("2018 Duplicate Rows: \n{}".format(duplicate_18))
#print("2008 Duplicate Rows: \n{}".format(duplicate_08))

# Number of duplicated rows
df_18.duplicated(keep='last').sum()

In [ ]:
# Duplicate rows in dataset
duplicate_18 = df_18[df_18.duplicated(keep=False)]
duplicate_08 = df_08[df_08.duplicated(keep=False)]

# Uncomment to explore duplicate rows
#print("2008 Duplicate Rows: \n{}".format(duplicate_08))

# Number of duplicated rows
df_08.duplicated(keep='last').sum()

2018 dataset contains no duplicate values while the 2008 dataset contains 25 duplicated rows

In [ ]:
# Non-unique values in each column
#print("\nUnique values in 2018 dataset: \n{}".format(df_18.nunique()))
#print("\nUnique values in 2008 dataset: \n{}".format(df_08.nunique()))

# Unique values and counts for each in specific columns 
print(df_18['Cyl'].value_counts())
print(df_08['Cyl'].value_counts())

## 2) Cleaning Columns Labels 
Drop extraneous columns and rename applicable columns

In [ ]:
# View 2018 dataset
df_18.head(1)

In [ ]:
# View 2008 dataset
df_08.head(1)

### Drop Extraneous Columns 

Columns not present in both datasets or irrelevant to analysis

In [ ]:
# drop columns from 2008 dataset
df_08 = df_08.drop(columns=['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'])

In [ ]:
# drop columns from 2018 dataset
df_18 = df_18.drop(columns=['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'])

## Rename columns 
Update column names for consistency and rename column names to lowercase without spaces

In [ ]:
# Rename "Sales Area" column in 2008 to "Cert Region"
df_08.rename(columns = {'Sales Area': 'Cert Region'}, inplace=True)

In [ ]:
# Replace spaces with underscore
df_08.columns = df_08.columns.str.replace('\s+', '_')
df_18.columns = df_18.columns.str.replace('\s+', '_')

In [ ]:
# Change column names to lower
df_08.columns = df_08.columns.str.lower()
df_18.columns = df_18.columns.str.lower()

In [ ]:
# Confirm datasets are identical 
(df_08.columns == df_18.columns).all()

In [ ]:
# save new datasets for next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

## Filter, Drop Nulls, Dedupe

### Filter by Certification
Filter both datasets for cars where `cert_region` is `CA`

In [ ]:
# Filter for cert_region CA
df_08 = df_08.query("cert_region == 'CA'")
df_18 = df_18.query("cert_region == 'CA'")

# Drop cert_region column
df_08 = df_08.drop(columns=['cert_region'])
df_18 = df_18.drop(columns=['cert_region'])

### Drop Nulls
Drop any rows in both datasets that contain missing values

In [ ]:
# Drop nulls
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [ ]:
# Check for rows with null value in 2008 - should print False
df_08.isnull().sum().any()

In [ ]:
# Check for rows with null value in 2018 - should print False
df_18.isnull().sum().any()

### Dedupe Data

In [ ]:
# Number of duplicates in 2008 and 2018
print("Duplicates in 2008: {}".format(df_08.duplicated().sum()))
print("Duplicates in 2018: {}".format(df_18.duplicated().sum()))

In [ ]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [ ]:
# confirm dedupe - should both be 0 
print("Duplicates in 2008: {}".format(df_08.duplicated().sum()))
print("Duplicates in 2018: {}".format(df_18.duplicated().sum()))

In [ ]:
# save new datasets for next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

In [ ]:
df_08.head(5)

In [ ]:
df_18.head(5)

## Datatype Fixing
Convert data type between datasets for consistency

### Fix `cyl` datatype
* 2008 - Extract int from string
* 2018 - Convert float to int

In [ ]:
# Extract int from string
df_08['cyl'] = df_08['cyl'].str[1:2].astype(int)

In [ ]:
# Convert 2018 cyl to int
df_18['cyl'] = df_18['cyl'].astype(int)

In [ ]:
# Confirm datatype change - should be int 
df_18['cyl'].dtype

### Fix `air_pollution_score`  Data Type
* 2008: convert string to float
** Cannot be converted directly as some rows contain multiple scores separated by `/`. Example: `6/4`. This is becuase "If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
* 2018: convert int to float

In [ ]:
# Extract all hybrid entries in 08
hb_08 = df_08[df_08['fuel'].str.contains('/')]
hb_08

In [ ]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

In [ ]:
# columns to split by "/"
split_columns = ['fuel','air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [ ]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have s`eparate rows for each fuel type of each vehicle!
new_rows

In [ ]:
# drop the original hybrid rows
df_08.drop(hb_08.index, inplace=True)

# add in our newly separated rows
df_08 = df_08.append(new_rows, ignore_index=True)

#### Repeat hybrid entries split for 2018 data

In [ ]:
# Extract all hybrid entries in 18
hb_18 = df_18[df_18['fuel'].str.contains('/')]
hb_18

In [ ]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_18.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_18.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

In [ ]:
# columns to split by "/"
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [ ]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!
new_rows

In [ ]:
# drop the original hybrid rows
df_18.drop(hb_18.index, inplace=True)

# add in our newly separated rows
df_18 = df_18.append(new_rows, ignore_index=True)

In [ ]:
# convert string to float for 2008 air pollution column
df_08['air_pollution_score'] = df_08['air_pollution_score'].astype(float)

In [ ]:
# convert int to float for 2018 air pollution column
df_18['air_pollution_score'] = df_18['air_pollution_score'].astype(float)

In [ ]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

### Fix `city_mpg`, `hwy_mpg`, `cmb_mpg` datatypes
    2008 and 2018: convert string to float

In [ ]:
# convert mpg columns to floats
mpg_columns = ['city_mpg', 'hwy_mpg', 'cmb_mpg']
for c in mpg_columns:
    df_18[c] = df_18[c].astype(float)
    df_08[c] = df_08[c].astype(float)

### Fix `greenhouse_gas_score` datatype
    2008: convert from float to int

In [ ]:
# convert from float to int
df_08['greenhouse_gas_score'] = df_08['greenhouse_gas_score'].astype(int)

### Confirm Data Type changes

In [ ]:
df_08.dtypes

In [ ]:
df_18.dtypes

In [ ]:
# Save CLEAN datasets as new files!
df_08.to_csv('clean_08.csv', index=False)
df_18.to_csv('clean_18.csv', index=False)

## Data Visualization

## Merging Datasets

In [ ]:
# import clean datasets
clean_08 = pd.read_csv('clean_08.csv')
clean_18 = pd.read_csv('clean_18.csv')

In [ ]:
# rename 2008 columns 
renamed_df_08 = clean_08.rename(columns = lambda x: x[:10] + "_2008" if x in clean_08.columns else x)

In [ ]:
renamed_df_08.head()

In [ ]:
clean_18.head()

In [ ]:
# merge datasets
df_combined = pd.merge(renamed_df_08, clean_18, how='inner', left_on='model_2008', right_on='model')

In [ ]:
# view to check merge
df_combined.head()

In [ ]:
df_combined.to_csv('combined_dataset.csv', index=False)